<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
    <thead>
    <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Country</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="x:${List}">
        <td th:text="${x.Firstname}"></td>
        <td th:text="${x.Lastname}"></td>
        <td th:text="${x.Country}"></td>
    </tr>


    </tbody>
    </table>
<a th:href="@{/lol/home}">Back</a>

</body>
</html>